body {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

nav {
    max-width: 100%;
    width: 100%;
    background-color: #6b0504;
    position: absolute;
    bottom: 0;
    position: fixed;
    display: flex;
    z-index: 10000;
}

nav a {
    text-decoration: none;
    color: white;
    width: 15%;
    text-align: center;
    padding: 4%;
}

nav>a>span {
    display: none;
}

nav img {
    display: none;
}

@media (min-width: 568px) {
    /* Větší mobily, Landscape orientation */
    nav a {
        padding: 3%;
    }
}

@media (min-width: 768px) {
    /* TABLETY */
    nav a {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    nav>a>span {
        display: block;
    }
}

@media (min-width: 992px) {
    /* Destkop */
    nav {
        top: 0;
        align-items: center;
        height: 12vh;
    }

    nav a {
        padding: 1%;
    }

    nav img {
        display: block;
        width: 10%;
        padding: 1%;
    }
}

@media (min-width: 1200px) {
    /* Large Destkop */
    nav a {
        flex-direction: row;
        padding: 2%;
        justify-content: center;
    }

    nav>a>i {
        margin-right: 10%;
    }
}

.slideshow-container, .mySlides {
    height: 90vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slides-info {
    padding: 2%;
    background-color: rgba(107, 5, 4, 0.9);
    color: white;
    position: absolute;
    bottom: 0;
    text-align: justify;
    width: 100%;
    text-align: center;
}

.slides-info p{
    width: 95%
}

.slides-info h2 {
    text-align: center;
}

@media (min-width: 568px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .slides-info {
        padding: 1.5%;
    }
}

.home-h1 {
    padding: 4%;
    background-color: #8f4611;
    text-align: center;
    color: white;
    margin: 0;
}

.home-article {
    padding: 3%;
    position: relative;
    margin-bottom: 5%;
}

.article-info {
    display: flex;
    flex-direction: column;
    color: gray;
}

.article-info a {
    color: gray;
    text-decoration: none;
}

.home-article h2 {
    text-align: center;
    width: initial;
    padding: 2%;
    border-bottom: 1px solid gray;
}

.article-info div {
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.article-link {
    text-decoration: none;
    color: white;
    background-color: #a7760e;
    text-align: center;
    width: 5%;
    padding: 3%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.content-center {
    display: flex;
    justify-content: center;
}

.content-center a{
    background-color: #a7760e;
    color: white;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 3%;
}

@media (min-width: 992px) {
    .home-article {
        width: 60%;
        margin-left: 20%;
        padding: 0;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .home-article p {
        width: 90%;
    }

    .article-info {
        flex-direction: row;
    }

    .home-h1 {
        padding: 2%;
    }

    .article-link {
        padding: 1%;
    }

    .content-center a {
        padding: 1.5%;
    }
}

.partners {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.partners img {
    width: 20%;
}

footer {
    background-color: #353f4c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 12%;
}

footer img {
    width: 15%;
    margin: 0% 2%;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (min-width: 992px) {
    footer {
        padding-bottom: 0;
    }

    footer img {
        width: 8%;
    }
}

.calendar {
    width: 75%;
    margin-top: 5%;
    margin-left: 12.5%;
    margin-bottom: 0;
}

.single-year {
    padding: 2%;
    text-align: center;
}

.single-year:nth-of-type(even) {
    background-color: #86290a;
    color: white;
}

@media (min-width: 992px) {
    .history {
        width: 50%;
        margin-left: 25%;
    }
}

table {
    width: 100%;
    border-spacing: 5px;
}

.table-hide {
    display: none;
}

td {
    text-align: center;
    padding: 1%;
}

.jmeno {
    background-color: #86290a;
    color: white;
}

form {
    width: 100%;
    text-align: center;
}

input {
    width: 80%;
    border: none;
    border: 1px solid lightgray;
    padding: 1%;
    margin-bottom: 2%;
}

textarea {
    padding: 1%;
    width: 80%;
    border: none;
    border: 1px solid lightgray;
}

button {
    margin: 5% 0%;
    padding: 2%;
}

.mapa {
    width: 100%;
}

@media (min-width: 568px) {
    .table-hide {
        display: block;
    }
}

@media (min-width: 992px) {
    table {
        width: 100%;
        text-align: center;
        margin-top: 2%;
    }
}

.kategorie {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #a7760e;
}

.kategorie i {
    display: flex;
    justify-content: center;
}

.kategorie>a {
    padding: 3%;
    color: white;
    text-decoration: none;
    width: 20%;
    text-align: center;
}

@media (min-width: 568px) {
    .kategorie {
        flex-wrap: nowrap;
    }
}

@media (min-width: 992px) {
    .kategorie>a {
        padding: 1.5%;
    }
}

.article {
    padding: 3%;
}

.article-header {
    text-align: center;
    border-bottom: 1px solid gray;
}

.clanek-info {
    display: flex;
    justify-content: space-around;
    color: gray;
    padding: 2%;
}

.article-content {
    text-align: justify;
    padding: 2%;
}

@media (min-width: 992px) {
    .article {
        width: 60%;
        padding: 0;
        margin-left: 20%;
    }
}

.gallery-main {
    display: flex;
    padding: 5%;
    flex-wrap: wrap;
}

.gallery {
    width: 100%;
    position: relative;
    background-color: #d3967c;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid #b04010;
}

.gallery h2 {
    text-align: center;
    padding: 1%;
}

.gallery-info {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.gallery-link {
    width: auto;
    text-align: center;
    position: absolute;
    background-color: #b04010;
    right: 0;
    bottom: 0;
    color: white;
    height: 100%;
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .gallery-main {
        justify-content: space-around;
    }

    .gallery {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .gallery-link {
        height: 30%;
        width: 100%;
    }

    .gallery-info {
        padding-bottom: 25%;
    }
}

.images {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
}

.images img {
    width: 100%;
    padding: 0.5%;
}

@media (min-width: 992px) {
    .images {
        flex-direction: row;
        justify-content: space-around;
    }

    .images img {
        width: 450px;
    }
}

.form {
    margin-top: 5%;
}

@media (min-width: 992px) {
    .form {
        width: 50%;
        text-align: center;
        margin-left: 25%;
        float: none;
    }
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners img {
    width: 30%;
    margin-top: 5%;
}

@media (min-width: 992px) {
    .partners {
        flex-direction: row;
    }

    .partners img {
        width: 10%;
        margin-top: 0;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    text-align: center;
    width: 100%;
    padding: 5% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.social a {
    color: white;
}

.ig {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fb {
    background-color: #3b5998;
}

@media (min-width: 768px) {
    .socials {
        flex-direction: row;
    }

    .social {
        width: 50%;
        margin: 0;
        border-radius: 0;
        padding: 5%;
    }
}

.g-recaptcha {
    display: flex;
    justify-content: center;
}

.kontakty-div {
    padding: 2%;
}

h2 {
    text-align: center;
}

.kontakty-div i {
    width: 20%;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

@media (min-width: 992px) {
    .kontakty-main {
        display: flex;
        justify-content: space-around;
    }

    .kontakty-div {
        padding: 2%;
        width: 40%;
    }

    .kontakty-main div h2 {
        text-align: center;
    }
}

.contact-form {
    padding: 1%;
}

.contact-form td {
    text-align: left;
}

.contact-form input{
    width: 40%;
    padding: 2%;
    border: 1px solid lightgrey;
}

.contact-form textarea {
    width: 95%;
    height: 100px;
    border: 1px solid lightgrey;
}

.contact-form .button {
    width: 25%;
    border: 1px solid lightgrey;
}

@media (min-width: 992px) {
    .contact-form {
        width: 40%;
    }

    .contact-form input{
        width: 75%;
    }

    .contact-form textarea {
        width: 100%;
        height: 100px;
    }

    .contact-form .button {
        width: 45%;
        border: 1px solid lightgrey;
    }
}

.uzivatel-form form{
    width: 40%;
    text-align: center;
    margin-top: 2%;
    margin-left: 30%;
}
